<main>
  <h1>Mentions Légales</h1>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Expedita tempore
    eaque non eveniet inventore odit deleniti itaque ipsum pariatur consequuntur
    reprehenderit autem sunt omnis, obcaecati nulla nihil laboriosam similique
    praesentium.
  </p>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Expedita tempore
    eaque non eveniet inventore odit deleniti itaque ipsum pariatur consequuntur
    reprehenderit autem sunt omnis, obcaecati nulla nihil laboriosam similique
    praesentium.
  </p>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Expedita tempore
    eaque non eveniet inventore odit deleniti itaque ipsum pariatur consequuntur
    reprehenderit autem sunt omnis, obcaecati nulla nihil laboriosam similique
    praesentium.
  </p>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Expedita tempore
    eaque non eveniet inventore odit deleniti itaque ipsum pariatur consequuntur
    reprehenderit autem sunt omnis, obcaecati nulla nihil laboriosam similique
    praesentium.
  </p>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Expedita tempore
    eaque non eveniet inventore odit deleniti itaque ipsum pariatur consequuntur
    reprehenderit autem sunt omnis, obcaecati nulla nihil laboriosam similique
    praesentium.
  </p>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Expedita tempore
    eaque non eveniet inventore odit deleniti itaque ipsum pariatur consequuntur
    reprehenderit autem sunt omnis, obcaecati nulla nihil laboriosam similique
    praesentium.
  </p>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Expedita tempore
    eaque non eveniet inventore odit deleniti itaque ipsum pariatur consequuntur
    reprehenderit autem sunt omnis, obcaecati nulla nihil laboriosam similique
    praesentium.
  </p>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Expedita tempore
    eaque non eveniet inventore odit deleniti itaque ipsum pariatur consequuntur
    reprehenderit autem sunt omnis, obcaecati nulla nihil laboriosam similique
    praesentium.
  </p>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Expedita tempore
    eaque non eveniet inventore odit deleniti itaque ipsum pariatur consequuntur
    reprehenderit autem sunt omnis, obcaecati nulla nihil laboriosam similique
    praesentium.
  </p>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Expedita tempore
    eaque non eveniet inventore odit deleniti itaque ipsum pariatur consequuntur
    reprehenderit autem sunt omnis, obcaecati nulla nihil laboriosam similique
    praesentium.
  </p>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Expedita tempore
    eaque non eveniet inventore odit deleniti itaque ipsum pariatur consequuntur
    reprehenderit autem sunt omnis, obcaecati nulla nihil laboriosam similique
    praesentium.
  </p>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Expedita tempore
    eaque non eveniet inventore odit deleniti itaque ipsum pariatur consequuntur
    reprehenderit autem sunt omnis, obcaecati nulla nihil laboriosam similique
    praesentium.
  </p>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Expedita tempore
    eaque non eveniet inventore odit deleniti itaque ipsum pariatur consequuntur
    reprehenderit autem sunt omnis, obcaecati nulla nihil laboriosam similique
    praesentium.
  </p>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Expedita tempore
    eaque non eveniet inventore odit deleniti itaque ipsum pariatur consequuntur
    reprehenderit autem sunt omnis, obcaecati nulla nihil laboriosam similique
    praesentium.
  </p>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Expedita tempore
    eaque non eveniet inventore odit deleniti itaque ipsum pariatur consequuntur
    reprehenderit autem sunt omnis, obcaecati nulla nihil laboriosam similique
    praesentium.
  </p>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Expedita tempore
    eaque non eveniet inventore odit deleniti itaque ipsum pariatur consequuntur
    reprehenderit autem sunt omnis, obcaecati nulla nihil laboriosam similique
    praesentium.
  </p>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Expedita tempore
    eaque non eveniet inventore odit deleniti itaque ipsum pariatur consequuntur
    reprehenderit autem sunt omnis, obcaecati nulla nihil laboriosam similique
    praesentium.
  </p>
</main>
