/* You can add global styles to this file, and also import other style files */

@import '../node_modules/normalize.css/normalize.css';

*,
*::before,
*::after {
  box-sizing: border-box;
}

main {
  display: flex;
  flex-flow: column;
  max-width: 40em;
  min-width: 20em;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 0.5em;
}

h1 {
  text-align: center;
}

a {
  color: inherit;
  text-decoration: inherit;
}

a:hover {
  text-decoration: underline;
}

button,
input {
  border: 0.1em solid #ddd;
  padding: 0.5em 1em;
}

button {
  background: #ddd;

  &:not(:disabled) {
    cursor: pointer;

    &:hover {
      border-color: #ccc;
      background: #ccc;
    }

    &:active {
      border-color: #bbb;
      background: #bbb;
    }

    &.primary {
      border-color: #333;
      background: #333;
      color: white;

      &:hover {
        border-color: #555;
        background: #555;
      }

      &:active {
        border-color: #666;
        background: #666;
      }
    }
  }
}

input {
  width: 100%;
}
