/* You can add global styles to this file, and also import other style files */

@import '../node_modules/normalize.css/normalize.css';

*, *::before, *::after {
  box-sizing: border-box;
}

main {
  display: flex;
  flex-flow: column;
  max-width: 40em;
  min-width: 20em;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 0.5em;
}

a {
  color: inherit;
  text-decoration: inherit;
}

a:hover {
  text-decoration: underline;
}

button, input {
  border: 0.1em solid #ddd;
  padding: 0.5em 1em;
}

button {
  background: #ddd;

  &:not(:disabled) {
    cursor: pointer;

    &:hover {
      border-color: #ccc;
      background: #ccc;
    }

    &:active {
      border-color: #bbb;
      background: #bbb;
    }
  }
}

input {
  width: 100%;
}
