/* You can add global styles to this file, and also import other style files */

@import "../node_modules/normalize.css/normalize.css";

main {
  display: flex;
  max-width: 40em;
  min-width: 20em;
  align-items: center;
  justify-content: space-evenly;
}

a {
  color: inherit;
  text-decoration: inherit;
}

a:hover {
  text-decoration: underline;
}

button {
  border: 0.1em solid #ddd;
  background: #ddd;

  &:not(:disabled) {
    cursor: pointer;

    &:hover {
      border-color: #ccc;
      background: #ccc;
    }

    &:active {
      border-color: #bbb;
      background: #bbb;
    }
  }
}
