<main>
  <h1>Ajoute une question</h1>
  <p>Quizz : {{ quizz.current.name }}</p>
  <form [formGroup]="f" (ngSubmit)="submit()">
    <label>
      <div>Enoncé de la question</div>
      <textarea rows="3" formControlName="label"></textarea>
    </label>
    <div class="answers">
      <span *ngFor="let letter of ['A', 'B', 'C', 'D']">
        <label>
          <span>{{ letter }}</span>
          <input type="text" [formControlName]="'answer' + letter"/>
        </label>
        <input type="radio" formControlName="correctAnswer" [value]="letter"/>
      </span>
    </div>
    <div class="buttons">
      <button type="button" routerLink="/setup">Annuler</button>
      <button type="submit" [disabled]="f.invalid" class="primary">Ajouter</button>
    </div>
  </form>
</main>
