<main *ngIf="quizz.current">
  <h1>Ajoute une question</h1>
  <p>Quizz : {{ quizz.current.name }}</p>
  <form [formGroup]="f" (ngSubmit)="submit()">
    <label>
      <div>Enoncé de la question</div>
      <textarea
        appAutofocus
        rows="3"
        formControlName="label"
        tabindex="1"
      ></textarea>
    </label>
    <div class="answers">
      <span *ngFor="let letter of ['A', 'B', 'C', 'D']; let i = index">
        <label>
          <span>{{ letter }}</span>
          <input
            type="text"
            [formControlName]="'answer' + letter"
            [tabindex]="i + 2"
          />
        </label>
        <app-radio-button>
          <input
            type="radio"
            formControlName="correctAnswer"
            [value]="letter"
            tabindex="6"
          />
        </app-radio-button>
      </span>
    </div>
    <div class="buttons">
      <button type="button" routerLink="/setup" tabindex="7">Annuler</button>
      <button type="submit" [disabled]="f.invalid" class="primary" tabindex="8">
        Ajouter
      </button>
    </div>
  </form>
</main>
